body {background-color:black;}
p {color: white; font-size: 100px; text-align:center; font-family:"Franklin Gothic Medium";}

#exit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}