body {
  opacity: 1;
  transition: opacity 1.5s ease;
  background-color: black;
}

.fade-out {
  opacity: 0;
}

.container {
  display: none;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  max-width: 700px;
}

/*animation reference: https://www.w3schools.com/css/css3_animations.asp*/

#start {
  z-index: 1;
  height: auto;
  width: 100%;
}

.container .buttons {
  z-index: 2;
  position:absolute;
  top: 35%;
  left: 72%;
  transform: translate(-50%, -50%);
  color: black;
  cursor: pointer;
  font-size: 19px;
  padding: 10px 10px;
  text-align: center;
}


button {
  background-color: rgb(140, 106, 106);
  font-size: 10px;
  position: absolute;
  border: 5px black;
  box-shadow: 0 5px black;
  transform: translateY(4px);
  border-radius: 12px;
}

button:hover {
  color:brown;
  background-color: white;
}

#hidden_images{
  display: none;
}

.page #start-button {
    position: relative;
    bottom: 50%;
    left: 50%;
    width: auto;     
    padding: 2%;
    font-size: 16px;

    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
#start-button:hover {
    background-color: darkred;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.page {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
