html {
    background-image: url("image/startingscene.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-color: black;
}

.buttons {
    padding: 10px;
    background-color: aqua;
}

button {
    background-color: darkred;
    border-radius: 50%;;
    cursor: pointer;
    font-size: large;
    text-decoration: none;
    position: 70%;
}

.containers{
    flex-direction: column;
}
