body {
  opacity: 1;
  transition: opacity 1.5s ease;
  background-color: black;
}

.fade-out {
  opacity: 0;
}

.container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.container img {
  height: auto;
  width: 100%;
  max-width: 700px;
}

.container .buttons {
  position:absolute;
  top: 35%;
  left: 72%;
  transform: translate(-50%, -50%);
  color: black;
  cursor: pointer;
  font-size: 19px;
  padding: 10px 10px;
  text-align: center;
}

.arrow{
  position: absolute;
  box-shadow: 0 5px black;
  padding: 10px;
}

button {
  background-color: rgb(140, 106, 106);
  font-size: 10px;
  position: absolute;
  border: 5px black;
  box-shadow: 0 5px black;
  transform: translateY(4px);
  border-radius: 12px;
}

button:hover {
  color:brown;
  background-color: white;
}

.noarrowtransition {
  display: none;
}

