body {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;  
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */
    height: 100vh;            /* makes the body fill the screen */
    margin: 0;
}

h1, h2 {
    text-align: center;
}

#image {
    transition: transform 0.5s;
}
div {
    text-align: center;
}

#image2{
    width: 250px;
}