body {background-image: url(images/b4\ pt1.jpg);
background-size: 1300px;
  width: 80px;
  height: 80px;
}

#mirror  {width: 1300px; position: absolute; left: 10px;}
#arrow {width: 1300px; position: absolute;}