body {background-image: url(roomfloor2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.dogpic {
    position: fixed;
    bottom: 0%;
    left: 5%;
    width: 34%;
    height: auto;
}

.ball {
    position: fixed;
    bottom: 15%;
    left: 25%;
    width: 55px;
    height: auto;
}