.body-floor2 {background-color: black;
}

p {
    text-align: center;
    font-size: 40px;
    color: white;
}

.buttons-floor2 {
    display: flex;           
    justify-content: center; 
    gap: 20px;               
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#yes {
    background-color: darkcyan;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

#no {
    background-color: darkcyan;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

#message-floor2 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zoom-in {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
}

.zoom-in.show {
    opacity: 1;
    transform: scale(1);
}

.container { 
  position: relative;
  width: fit-content;
  margin: 0 auto;
  max-width: 800px;
}
.room2 {
  z-index: 1;
  height: auto;
  width: 100%;
}

.dogpic {
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 17%;
    width: 35%;
    height: auto;
}

.ball {
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 55%;
    width: 7%;
    height: auto;
}
